body{
    background-color: red;
    text-align: center;
}

h1{
    color:white;
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color:black;
    font-size: 100px;
    text-align: center;
}

button{
    width: 100px;
    height: 100px;
background-color: turquoise;
}

h2{
    font-size: 70px;
}